{% extends "simple/base.html" %}
{% from 'simple/icons.html' import icon_big %}
{% block content %}

<div class="landing-page">
    <div class="container">
        <div class="content-wrapper">
            <div class="text-container">
                <h1 class="title">True Search</h1>
                <h2 class="description">Prototyping charitable, privacy respecting approaches in search!</h2>
            </div>
            <div class="search-container">
                {% include 'simple/simple_search.html' %}
                <h3 class="search_opt_text">Advanced search options</h3>
            </div>
            <!--Button element -->
            <div class="feedback-container">
                <button data-feedbackfin-button class="feedback-btn">Feedback</button>
            </div>
        </div>
        <div class="cards-wrapper">
            <div class="cards">
                <div class="card selected">
                    <div class="card-img card-1">
                        <p class="card-title">Charity selected to support</p>
                    </div>
                    <p class="card-description">Charitable cause
                        title is here as a two liner title</p>
                </div>
                <div class="card">
                    <div class="card-img card-2">
                        <p class="card-title">Charity selected to support</p>
                    </div>
                    <p class="card-description">Charitable cause
                        title is here as a two liner title</p>
                </div>
                <div class="card">
                    <div class="card-img card-3">
                        <p class="card-title">Charity selected to support</p>
                    </div>
                    <p class="card-description">Charitable cause
                        title is here as a two liner title</p>
                </div>
                <div class="card">
                    <div class="card-img card-4">
                        <p class="card-title">Charity selected to support</p>
                    </div>
                    <p class="card-description">Charitable cause
                        title is here as a two liner title</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>


</style>
{% endblock %}