{% extends "simple/base.html" %}
{% from 'simple/icons.html' import icon_big %}
{% block content %}
<!-- <div class="index">
    <div class="title">
        <h1>SearXNG</h1>
    </div>
    {% include 'simple/simple_search.html' %}
</div> -->

<div class="landing-page">
    <div class="container">
        <div class="content-wrapper">
            <h1 class="truesearch_title">True Search</h1>
            <h2 class="description">Prototyping charitable, privacy respecting approaches in search!</h2>
            {% include 'simple/simple_search.html' %}
            <div class="dropdown">
                <label class="select-label"><span id="select-label-id">Charity selected</span> <span
                        onclick="toggleCharity()">{{ icon_big('drop-down') }}</span></label>
                <div class="dropdown-list close-dropdown" id="charity-dropdown">
                    <div class="dropdown-list-item">                        
                        <label for="charity-5">Coming soon</label>                    
                    </div>
                    {% for charity in charity_list %}
                        {% if charity == default_charity %}
                            <div class="dropdown-list-item">
                                <input type="radio" name="charity-list" id="{{charity}}" checked>
                                <label for="{{charity}}">{{charity}}</label>
                            </div>
                        {% else %}
                            <div class="dropdown-list-item">
                                <input type="radio" name="charity-list" id="{{charity}}">
                                <label for="{{charity}}">{{charity}}</label>
                            </div>
                        {% endif %}
                    {% endfor %}
                    <!-- <div class="dropdown-list-item">
                        <input type="radio" name="charity-list" id="charity-1" checked>
                        <label for="charity-1">Charity 1</label>
                    </div>
                    <div class="dropdown-list-item">
                        <input type="radio" name="charity-list" id="charity-2">
                        <label for="charity-2">Charity 2</label>
                    </div>
                    <div class="dropdown-list-item">
                        <input type="radio" name="charity-list" id="charity-3">
                        <label for="charity-3">Charity 3</label>
                    </div>
                    <div class="dropdown-list-item">
                        <input type="radio" name="charity-list" id="charity-4">
                        <label for="charity-4">Charity 4</label>
                    </div> -->
                    <div>
                        <button type="button" onclick="selectCharity()" class="select-submit-btn">Select this
                            charity</button>
                    </div>
                </div>
            </div>
            <!--Button element -->
            <div class="feedback-container">
                <button data-feedbackfin-button class="feedback-btn">Feedback</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}