{% extends "simple/base.html" %}
{% from 'simple/icons.html' import icon_big %}
{% block content %}
<!-- <div class="index">
    <div class="title">
        <h1>SearXNG</h1>
    </div>
    {% include 'simple/simple_search.html' %}
</div> -->

<div class="landing-page">
    <div class="container">
        <h1 class="truesearch_title">True Search</h1>
        <h2 class="description">Prototyping charitable, privacy respecting approaches in search!</h2>
        {% include 'simple/simple_search.html' %}
        <h3 class="search_opt_text"><a href="/search">Advanced search options</a></h3>
        <!--Button element -->
        <div class="feedback-container">
            <button data-feedbackfin-button class="feedback-btn">Feedback</button>
        </div>
    </div>
</div>
{% endblock %}